<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container-fluid">
    <img src="assets/images/logotipoBlanco.png" alt="" style="height: 70px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
        </li>
      </ul>
      <form class="d-flex" role="search">
          <div class="input-group">
              <div class="social-networks" style="color: yellow;">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
            </div>
          </div>
      </form>
      <a class="btn text-white" type="submit"><i class="fa-solid fa-circle-user"></i>  Iniciar Sesión</a>
      <a class="btn text-white" type="submit"><i class="fa-solid fa-bars"></i>  Registrarse</a>
    </div>
  </div>
</nav>