<div class="restrict p-3">
    <p >Solo para Mayores de edad - Aplica Términos y Condiciones - Invierte con Responsabilidad</p>
</div>

<!--navbar login-->
    <nav class="navbar navbar-expand-lg navbar-dark login header-desktop">
        <div class="container-fluid">
          <img src="assets/images/logotipoBlanco.png" alt="" style="height: 70px;">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"></a>
              </li>
            </ul>
            <form class="d-flex" role="search">
                <div class="input-group">
                    <div class="social-networks" style="color: yellow;">
                      <a href="https://instagram.com/sportips_com?igshid=YmMyMTA2M2Y=" class="text-warning"><i class="bi bi-instagram"></i></a>
                      <a href="https://www.facebook.com/sportips.oficial" class="text-warning"><i class="bi bi-facebook"></i></a>
                      <a href="" class="text-warning"><i class="bi bi-tiktok"></i></a>
                      <a href="https://www.linkedin.com/company/89571763/admin/" class="text-warning"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
            </form>
            <a class="btn text-white" type="submit"> Iniciar Sesión</a>
            <a class="btn text-white" type="submit">  Registrarse</a>
            <button class="btn btn-warning btn-sm"><i class="bi bi-search"></i></button>
          </div>
        </div>
    </nav>
    <!--FIN navbar -->

<!--navbar pronosticos-->
  <nav class="navbar navbar-expand-lg navbar-custom header-desktop" >
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav">
          <li>
            <a class="navbar-brand px-5" href="#">Pronosticos</a>
          </li>
          <li>
            <a class="navbar-brand px-5" href="#">Tipsters</a>
          </li>
          <li>
            <a class="navbar-brand px-5" href="#">Estadisticas</a>
          </li>
          <li>
            <a class="navbar-brand px-5" href="#">Academia</a>
          </li>
          <li>
            <a class="navbar-brand px-5" href="#">Casas de Apuesta</a>
          </li>
          <li>
            <a class="navbar-brand px-5" href="#">Planes y precios</a>
          </li>
          <li>
            <a class="navbar-brand px-5" href="#">Blog</a>
          </li>
          
        </ul>
        </div>
    </div>
  </nav>

<!--NAVBAR MOBILE-->
<div class="topnav">
  <a href="#home" class="active"><img src="assets/images/logotipoBlanco.png" alt="" style="height: 50px;"></a>
  <button class="btn btn-warning btn-sm" id="boton"><i class="bi bi-search"></i></button>
  <!-- Navigation links (hidden by default) -->
  <div id="myLinks">
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a href="javascript:void(0);" class="icon" (click)="myFunction()">
    <i class="bi bi-list"></i>
  </a>
</div>

<!--FIN NAVBAR-->   
<!--IMAGEN DE INICIO-->
<section class="bgimage">
    <div class="container-fluid  d-flex">
        <div class="text-left align-middle px-5 text-white">
            <h1><strong>Hogar de los mejores 
            <br>Tipsters Premium verificados</strong></h1>
            <br>
            <h2 style="font-family: Bookman; font-size: 20px"> 
            Encuentra información y pronósticos deportivos
            <br>
            de tus torneos y jugadores favoritos
            </h2>
        </div>
        <!--
        <div class="m-auto">
          <div class="bg-dark rounded" style="height: 220px;width: 500px;">
            <h2 class="text-warning text-center p-3">GRAN LANZAMIENTO</h2>
            <div id="cuenta"></div>
          </div>
        </div>
        -->
    </div>
  </section>
<!--FIN IMAGEN DE INICIO-->   

<!--INFORMACIÓN DE QUE HACEMOS--> 
<div class="information">
    <h1 id="info-title" class="p-5"><strong>Por qué SporTips?</strong></h1>
    <div class="row row-cols-1 row-cols-md-3 g-4 px-5">
        <div class="col col-md-4 col-sm-6">
            <h1 class="text-center"><img src="assets/icons/Icono1.png" alt="" height="50px" width="50px"></h1>
            <div class="information-card card g-col-6 g-col-md-4 col my-4 bg-white border border-dark" >
              <p><strong>Encuentra más de 800 pronósticos mensuales.</strong></p>
          </div>
        </div>
        <div class="col col-md-4 col-sm-6">
          <h1 class="text-center"><img src="assets/icons/Icono2.png" alt="" height="50px" width="50px"></h1>
            <div class="information-card card g-col-6 g-col-md-4 col my-4 bg-white border border-dark p-4" >
              <p><strong>Utilizamos plataformas certificadas para que realices tus pagos.</strong></p>
          </div>
        </div>
        <div class="col col-md-4 col-sm-6">
          <h1 class="text-center"><img src="assets/icons/Icono3.png" alt="" height="50px" width="50px"></h1>
          <div class="information-card card g-col-6 g-col-md-4 col my-4 bg-white border border-dark" >
            <p><strong>Todas las estadisticas e información deportiva que necesitas en un solo lugar.</strong></p>
        </div>
        </div>
      <div class="w-100"></div>
      <div class="col col-md-4 col-sm-6">
        <h1 class="text-center"><img src="assets/icons/Icono4.png" alt="" height="50px" width="50px"></h1>
          <div class="information-card card g-col-6 g-col-md-4 col my-4 bg-white border border-dark" >
            <p><strong>Controla la forma en la que recibes tus notificaciones.</strong></p>
        </div>
      </div>
      <div class="col col-md-4 col-sm-6">
        <h1 class="text-center"><img src="assets/icons/Icono5.png" alt="" height="50px" width="50px"></h1>
          <div class="information-card card g-col-6 g-col-md-4 col my-4 bg-white border border-dark" >
            <p><strong>Encuentra todo lo que necesitas saber.</strong></p>
            <br>
        </div>
      </div>
      <div class="col col-md-4 col-sm-6">
        <h1 class="text-center"><img src="assets/icons/Icono6.png" alt="" height="50px" width="50px"></h1>
        <div class="information-card card g-col-6 g-col-md-4 col my-4 bg-white border border-dark">
          <p><strong>Te damos consejos e información sobre las mejores cuotas deportivas.</strong></p>
      </div>
      </div>
    </div>
    <br>
    <div style="width:100%;">
      <img src="assets/images/logo2.jpg" alt="" class="imagen-gratis" width="100%">
    </div>
</div>
<!--FIN INFORMACIÓN DE QUE HACEMOS--> 


<!--FIN-->

<!-- RANKINK TIPSTERS-->
<div class="p-5 h-100">
<h1 id="info-title"><strong>Ranking de Tipsters</strong></h1>
<table class="table table-responsive text-center">
<tbody>
  <tr>
    <td><img src="https://cdn.icon-icons.com/icons2/1736/PNG/512/4043260-avatar-male-man-portrait_113269.png" alt="" height="70"></td>
    <td>
      <h5><strong>Nombre</strong></h5>
      <h6 class="rounded bg-dark text-white">Futbol</h6>
    </td>
    <td>
      <h5>284.66</h5>
      <h6>No. Pronosticos</h6>
    </td>
    <td>
      <h5>6109%</h5>
      <h6>ROI</h6>
    </td>
    <td>
      <h5>1.36</h5>
      <h6>Ganancias/Profit</h6>
    </td>
    <td>
      <h5>2.04</h5>
      <h6>% de acierto</h6>
    </td>
    <td>
      <h5>15.03</h5>
      <h6>Cuota media</h6>
    </td>
    <td>
      <button type="button" class="btn btn-warning">Ver perfil</button>
    </td>
  </tr>
  <tr>
    <td><img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="" height="70"></td>
    <td>
      <h5><strong>Nombre</strong></h5>
      <h6 class="rounded bg-dark text-white">Tennis</h6>
    </td>
    <td>
      <h5>284.66</h5>
      <h6>No. Pronosticos</h6>
    </td>
    <td>
      <h5>6109%</h5>
      <h6>ROI</h6>
    </td>
    <td>
      <h5>1.36</h5>
      <h6>Ganancias/Profit</h6>
    </td>
    <td>
      <h5>2.04</h5>
      <h6>% de acierto</h6>
    </td>
    <td>
      <h5>15.03</h5>
      <h6>Cuota media</h6>
    </td>
    <td>
      <button type="button" class="btn btn-warning">Ver perfil</button>
    </td>
  </tr>
  <tr>
    <td><img src="https://cdn-icons-png.flaticon.com/512/147/147142.png" alt="" height="70"></td>
    <td>
      <h5><strong>Nombre</strong></h5>
      <h6 class="rounded bg-dark text-white">Basket</h6>
    </td>
    <td>
      <h5>284.66</h5>
      <h6>No. Pronosticos</h6>
    </td>
    <td>
      <h5>6109%</h5>
      <h6>ROI</h6>
    </td>
    <td>
      <h5>1.36</h5>
      <h6>Ganancias/Profit</h6>
    </td>
    <td>
      <h5>2.04</h5>
      <h6>% de acierto</h6>
    </td>
    <td>
      <h5>15.03</h5>
      <h6>Cuota media</h6>
    </td>
    <td>
      <button type="button" class="btn btn-warning">Ver perfil</button>
    </td>
  </tr>
  <tr>
    <td><img src="https://cdn.pixabay.com/photo/2017/12/18/03/01/black-avatar-3025348_1280.png" alt="" height="70"></td>
    <td>
      <h5><strong>Nombre</strong></h5>
      <h6 class="rounded bg-dark text-white">Futbol</h6>
    </td>
    <td>
      <h5>284.66</h5>
      <h6>No. Pronosticos</h6>
    </td>
    <td>
      <h5>6109%</h5>
      <h6>ROI</h6>
    </td>
    <td>
      <h5>1.36</h5>
      <h6>Ganancias/Profit</h6>
    </td>
    <td>
      <h5>2.04</h5>
      <h6>% de acierto</h6>
    </td>
    <td>
      <h5>15.03</h5>
      <h6>Cuota media</h6>
    </td>
    <td>
      <button type="button" class="btn btn-warning">Ver perfil</button>
    </td>
  </tr>
</tbody>
</table>
</div>
<!--FIN-->

<!-- IMAGEN INFORMATIVA -->
<div>
<img src="/assets/images/imagen.jpg" alt="" height="100%" width="100%">
</div>

<div class="events">
        <div class="d-flex justify-content-between">
            <h1 id="info-title"><strong>PRÓXIMOS EVENTOS</strong></h1>
            <button class="btn btn-dark" (click)="goToSoccerList()">VER TODOS LOS ENCUENTROS DE HOY</button>
        </div>
        <div class="slideshow-container p-5">
                <div class="mySlides1">
                    <div class="events-info grid row row-cols-1 row-cols-md-3 g-4">
                        <div class="event-card col g-col-6 g-col-md-4 p-5"  *ngFor="let match of firsts">
                            <h3 class="text-muted border font-weight-light">Pronóstico</h3>
                            <br>
                            <h2>FUTBOL</h2>
                            <img src="assets/images/soccer.jpg" alt="">
                            <br>
                            <br>
                            <h4>{{match.teams.home.name}}</h4>
                            <h6>VS</h6>
                            <h4>{{match.teams.away.name}}</h4>
                            <br>
                            <a  class="btn btn-warning w-100" [routerLink]="['/stadistics',match.fixture.id]"><strong >VER DETALLES</strong></a>
                            
                        </div>
                    </div>
                </div>

        </div>
</div>

<div class="hero-image">
  <div class="text-white text-center d-flex">
    <div class="mx-auto my-5  ">
      <form action="" class="p-2">
        <h1>Pronósticos</h1>
        <img src="assets/images/logotipoBlanco.png" alt="" height="50px" width="200px">
        <p class="py-3">Ingresa tus datos y suscríbete para recibir 
          <br>
          pronósticos diarios de manera gratuita</p>
          <input type="text" class="form-control my-3" placeholder="Nombre:" name="name">
          <input type="text" class="form-control my-3" placeholder="Correo:" name="email" >
        <button type="button" class="btn btn-warning text-dark w-100"><h6>SUSCRIBETE</h6></button>
      </form>
    </div>
  </div>
</div>

<!--BLOG-->
<div class="p-5">
    <h1 id="info-title"><strong>NUESTRO BLOG</strong></h1>
    <div class="grid row row-cols-1 row-cols-md-3 g-4 p-5">
      
        <div class="card text-white col g-col-6 g-col-md-4" style="background-color: rgb(231, 231, 231);">
            <img src="https://s03.s3c.es/imag/_v0/770x420/e/0/6/balon-de-futbol.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h3 style="color:black;"><strong>Titulo 1 de noticia</strong></h3>
                <p style="color:black ;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque viverra sem eu bibendum. Sed vitae arcu euismod, ornare ex at, condimentum est. Sed blandit varius libero, non tempus odio sagittis vel. Sed consectetur euismod augue, quis euismod odio placerat ut. Nulla facilisi. Quisque nibh sapien, commodo nec auctor sed, commodo eget mauris. Nunc ornare volutpat ultricies.</p>
            </div>
            <button type="button" class="btn btn-warning w-100">Ver más</button>
        </div>
        <div class="card  text-white col g-col-6 g-col-md-4" style="background-color: rgb(231, 231, 231);">
            <img src="https://revistapymes.es/wp-content/uploads/2021/11/fraude-en-el-sector-empresarial.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h3 style="color:black;"><strong>Titulo 2 de noticia</strong></h3>
                <p style="color:black ;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque viverra sem eu bibendum. Sed vitae arcu euismod, ornare ex at, condimentum est. Sed blandit varius libero, non tempus odio sagittis vel. Sed consectetur euismod augue, quis euismod odio placerat ut. Nulla facilisi. Quisque nibh sapien, commodo nec auctor sed, commodo eget mauris. Nunc ornare volutpat ultricies.</p>
            </div>
            <button type="button" class="btn btn-warning w-100">Ver más</button>
        </div>
        <div class="card  text-white col g-col-6 g-col-md-4" style="background-color: rgb(231, 231, 231);">
            <img src="https://www.webconsultas.com/sites/default/files/styles/wc_adaptive_image__small/public/temas/factores-elegir-raqueta-tenis_0.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h3 style="color:black;"><strong>Titulo 3 de noticia</strong></h3>
                <p style="color:black ;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque viverra sem eu bibendum. Sed vitae arcu euismod, ornare ex at, condimentum est. Sed blandit varius libero, non tempus odio sagittis vel. Sed consectetur euismod augue, quis euismod odio placerat ut. Nulla facilisi. Quisque nibh sapien, commodo nec auctor sed, commodo eget mauris. Nunc ornare volutpat ultricies.</p>
            </div>
            <button type="button" class="btn btn-warning w-100">Ver más</button>
        </div>
    </div>
</div>
<!--FIN BLOG-->       

<!-- Footer -->
<footer class="bg-black text-center text-white">
<img src="images/footerimage.jpg" alt="" class="img-responsive w-100">
<!-- Grid container -->
<!-- ESTAS SON PARA IR DESPLEGANDO A MEDIDA QUE SE VA HACIENDO EL PROGRAMA
<div class="container p-5">
  <div class="row">
    <div class="col-sm">
     <h4><strong>Atención al usuario</strong></h4>
    </div>
    <div class="col-sm">
      <h4><strong>Atención al usuario</strong></h4>
    </div>
    <div class="col-sm">
      <h4><strong>Atención al usuario</strong></h4>
    </div>
  </div>
</div>
-->
<div>
  <div class="row">
    <div class="col">
      <h4><strong>Atención al usuario</strong></h4>
      <br>
      <ul class="list-footer">
        <li><a href="">Contacto</a></li>
        <li><a href="">Terminos y condiciones</a></li>
        <li><a href="">Politicas de privacidad</a></li>
        <li><a href="">Preguntas frecuentes</a></li>
        <li><a href="">Responsabilidad social</a></li>
        <li><a href="">Politica de cookies</a></li>
      </ul>
    </div>
    <div class="col">
      <h4><strong>Mapas del sitio</strong></h4>
      <br>
      <ul class="list-footer">
        <li><a href="">Pronosticos</a></li>
        <li><a href="">Pronosticadores</a></li>
        <li><a href="">Casas de apuestas</a></li>
        <li><a href="">Estadisticas</a></li>
        <li><a href="">Planes y precios</a></li>
        <li><a href="">Blog y noticias</a></li>
      </ul>
    </div>
    <div class="col">
      <h4><strong>Academia</strong></h4>
      <br>
      <ul class="list-footer">
        <li><a href="">Glosario</a></li>
        <li><a href="">Invierte</a></li>
        <li><a href="">Tipos de apuestas deportivas</a></li>
        <li><a href="">Baloncesto</a></li>
        <li><a href="">Tenis</a></li>
        <li><a href="">Futbol</a></li>
      </ul>
    </div>
  </div>
</div>
<div class=" p-5">
  <h4 class="text-warning">ADVERTENCIA</h4><h5 class="font-weight-normal">No somos responsables de los resultados deportivos, es responsabilidad del
    Usuario tomar las medidas adecuadas para verificar esta información antes de usarla o
    actuar en consecuencia y bajo su propio riesgo, por tal razón no hay ninguna garantía de
    que vaya a ganar dinero utilizando las técnicas e información suministrada en nuestro sitio
    web.
  </h5>
  <div class="mx-auto p-5">
    <h5>Invierta con responsabilidad</h5>
    <hr>
    <img src="assets/images/logotipoBlanco.png" alt="" width="300">
    <section class="mb-4">

      <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"
      ><i class="bi bi-youtube"></i></a>

      <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-twitter"></i></a>

      <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-facebook"></i></a>

      <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"
      ><i class="bi bi-instagram"></i></a>
    </section>

  </div>
</div>
<div class="text-center p-3" style="background-color: rgba(255, 255, 255, 0.2);">
  Sportips.com es una marca registrada de Mavive SAS - © 2022 Todos los derechos reservados. – Sportips.com®
</div>
</footer>
<!-- Footer -->