.team1{
    background-color: #428bca;
}
.team2{
    background-color: #78c251;
}
.progress {
    height: 35px;
    width: 100%;
    border: 1px solid #428bca;
    border-radius: 5px;
    background-color: #e6f3fa;
    margin-bottom: 15px;
}
 
.progress-bar {
    height: 100%;
    background: #428bca;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

.progress1 {
    height: 35px;
    width: 100%;
    border: 1px solid #78c251;
    border-radius: 5px;
    background-color: #e6f3fa;
    margin-bottom: 15px;
}
 
.progress-bar1 {
    height: 100%;
    background: #78c251;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}
.progresstext{
    margin-left: 10px;
    font-weight: bold;
    color: #cce7f5;
}
 